@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body{
        @apply bg-black
    }

}

.gutter {
    background-color: #e2e8f0; /* Customize gutter color */
    transition: background-color 0.25s ease;
}
  
.gutter:hover {
    background-color: #cbd5e1;
}
  
.gutter.gutter-horizontal {
    @apply bg-black;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
  
.gutter.gutter-vertical {
    @apply bg-black;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height of the scrollbar */
}
  
  /* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    @apply bg-gray-300/45;/* Color of the scrollbar thumb */
}
  
  /* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500/70;/* Color of the thumb on hover */
}
   