.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    resize: horizontal;
    overflow: auto;
  }

.box .text {
    text-align: center;
}
  